@import "components.pcss";
@import "base.pcss";
@import "utilites.pcss";

.dark {
    @apply text-white
}
.light {
    @apply text-black
}

.font-aggressive {
    @apply font-['Rubik_Wet_Paint']
}
